section
{
	padding: 16px;
	margin: 16px;
}

section h2
{
	margin: 0 0 10px;
}

.servers ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.servers ul .server
{
	padding: 16px;
}

.servers ul .server:not(:last-child)
{
	margin-bottom: 8px;
}

.servers ul .server .status
{
	display: inline-block;
	height: 12px;
	margin-right: 4px;
	position: relative;
	top: 2px;
	width: 12px;
}

.servers ul .server .status.online
{
	background-color: green;
}

.servers ul .server .status.offline
{
	background-color: red;
}

.servers ul .server > .ynot-content
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	margin: 0 -6px;
	padding: 4px 6px;
}

.servers ul .server > .ynot-content:first-child
{
	padding-top: 0;
}

.servers ul .server > .ynot-content:last-child
{
	border-bottom: none;
	padding-bottom: 0;
}

