{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
	<section class="servers ynot-content">
		<h2>Servers</h2>
		<ul>
			{% for server in user.server_set.all %}
			<li class="server ynot-content">
				<div class="ynot-content">
					<div class="status {% cycle 'online' 'offline' %} ynot-content"></div>
					<a href="{{ server.get_absolute_url }}">{{ server.name|title }}</a>
				</div>
				<div class="ynot-content">
					<label>Users</label>
					<span>2/10</span>
				</div>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}

